.dice-category {
    padding-left: 50px;
    background-position: 15px 3px;
    background-repeat: no-repeat;
    background-size: 28px 28px;
}

.dice-detail {
    padding-left: 42px;
    background-position: 15px 7px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.dice1 {
    background-image: url("../img/dice1.png");
}

.dice2 {
    background-image: url("../img/dice2.png");
}

.dice3 {
    background-image: url("../img/dice3.png");
}

.dice4 {
    background-image: url("../img/dice4.png");
}

.dice5 {
    background-image: url("../img/dice5.png");
}

.dice6 {
    background-image: url("../img/dice6.png");
}